In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math

In [3]:
# data = pd.read_csv("/content/bechdel.csv")
data = pd.read_csv("C:/Users/NTX550/Desktop/권지원/Bechdel-IMDB-project/bechdel.csv",index_col=0)

In [5]:
bechdel = pd.DataFrame(data)

In [6]:
bechdel.head()

                        title    id      imdbid  year  rating
0            Passage de Venus  9602   3155794.0  1874       0
1           La Rosace Magique  9804  14495706.0  1877       0
2  Sallie Gardner at a Gallop  9603   2221420.0  1878       0
3           Le singe musicien  9806  12592084.0  1878       0
4     Athlete Swinging a Pick  9816   7816420.0  1881       0

In [38]:
bechdel.columns

Index(['Unnamed: 0', 'title', 'id', 'imdbid', 'year', 'rating'], dtype='object')

In [39]:
bechdel.drop('Unnamed: 0', axis = 'columns',inplace = True)

In [40]:
bechdel.isnull().sum()

title     0
id        0
imdbid    5
year      0
rating    0
dtype: int64

In [41]:
df = bechdel.pivot_table(columns= ['title'], aggfunc='size')
df

title
!Three Amigos!                1
#Nofilter                     1
&#39;71                       1
&#39;Burbs, The               1
&#39;Gator Bait               1
                             ..
tick...tick..BOOM!            1
world to come, The            1
xXx                           1
xXx: Return of Xander Cage    1
xxxHolic Ro Adayume           1
Length: 9658, dtype: int64

In [42]:
bechdel[bechdel['title'] == '&#39;71' ]

        title    id     imdbid  year  rating
7547  &#39;71  5159  2614684.0  2014       0

In [43]:
print(bechdel[bechdel['imdbid'].isnull()])

                      title     id  imdbid  year  rating
8604                  Moana  10131     NaN  2016       3
9152  No me digas solterona  10659     NaN  2018       1
9153               Oceans 8  10661     NaN  2018       1
9393            Decedants 3  10029     NaN  2019       3
9699             Wrong Turn  10231     NaN  2021       3

In [44]:
bechdel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9908 entries, 0 to 9907
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   9908 non-null   object
 1   id      9908 non-null   int64
 2   imdbid  9903 non-null   float64
 3   year    9908 non-null   int64
 4   rating  9908 non-null   int64
dtypes: float64(1), int64(3), object(1)
memory usage: 387.2+ KB

In [45]:
bechdel['title'].value_counts()

Cinderella             5
Shelter                4
Robin Hood             4
Little Women           4
Pride and Prejudice    4
                      ..
Eve&#39;s Bayou        1
Jackie Brown           1
L.A. Confidential      1
Boogie Nights          1
Les choses simples     1
Name: title, Length: 9658, dtype: int64

In [46]:
bechdel[bechdel['imdbid'].isna()]

                      title     id  imdbid  year  rating
8604                  Moana  10131     NaN  2016       3
9152  No me digas solterona  10659     NaN  2018       1
9153               Oceans 8  10661     NaN  2018       1
9393            Decedants 3  10029     NaN  2019       3
9699             Wrong Turn  10231     NaN  2021       3

In [47]:
bechdel['imdbid'] = bechdel['imdbid'].fillna(0)

In [48]:
bechdel[bechdel['imdbid'].isna()]

Empty DataFrame
Columns: [title, id, imdbid, year, rating]
Index: []

In [49]:
bechdel['imdbid'] = bechdel['imdbid'].astype(float)

In [50]:
bechdel.drop(['int_imdbid'], axis=1, inplace=True)

KeyError: "['int_imdbid'] not found in axis"

In [51]:
dec = bechdel['imdbid']
dec = dec.astype(int)
bechdel['int_imdbid'] = dec
bechdel

                           title     id      imdbid  year  rating  int_imdbid
0               Passage de Venus   9602   3155794.0  1874       0     3155794
1              La Rosace Magique   9804  14495706.0  1877       0    14495706
2     Sallie Gardner at a Gallop   9603   2221420.0  1878       0     2221420
3              Le singe musicien   9806  12592084.0  1878       0    12592084
4        Athlete Swinging a Pick   9816   7816420.0  1881       0     7816420
...                          ...    ...         ...   ...     ...         ...
9903                     Pathaan  10728  12844910.0  2023       3    12844910
9904                     Missing  10754  10855768.0  2023       3    10855768
9905               Infinity Pool  10737  10365998.0  2023       2    10365998
9906                Cocaine Bear  10779  14209916.0  2023       3    14209916
9907          Les choses simples  10785  25971180.0  2023       1    25971180

[9908 rows x 6 columns]

In [52]:
bechdel1 = bechdel

In [53]:
bechdel1 = bechdel1.drop('imdbid', axis = 1)

In [54]:
bechdel1.rename(columns={'int_imdbid':'imdbid'}, inplace=True)

In [55]:
bechdel1.value_counts()

title                id     year  rating  imdbid
!Three Amigos!       6202   1986  2       92086      1
Odessa File, The     2025   1974  3       71935      1
October Baby         3147   2011  3       1720182    1
October Sky          10022  1999  1       132477     1
Octopussy            6313   1983  2       86034      1
                                                    ..
Flying Saucer, The   4031   1950  1       42469      1
Flypaper             2935   2011  3       1541160    1
Focus                6254   2015  1       2381941    1
Fog, The             2484   1980  3       80749      1
xxxHolic Ro Adayume  6235   2011  1       4627404    1
Length: 9908, dtype: int64

In [56]:
bechdel1[bechdel1['imdbid'] == 0].count

<bound method DataFrame.count of                       title     id  year  rating  imdbid
8604                  Moana  10131  2016       3       0
9152  No me digas solterona  10659  2018       1       0
9153               Oceans 8  10661  2018       1       0
9393            Decedants 3  10029  2019       3       0
9699             Wrong Turn  10231  2021       3       0>

In [57]:
bechdel1.drop(bechdel1[bechdel1['imdbid'] == 0].index, inplace=True)

In [58]:
bechdel1.value_counts()

title                id     year  rating  imdbid
!Three Amigos!       6202   1986  2       92086      1
Odessa File, The     2025   1974  3       71935      1
October Baby         3147   2011  3       1720182    1
October Sky          10022  1999  1       132477     1
Octopussy            6313   1983  2       86034      1
                                                    ..
Flying Saucer, The   4031   1950  1       42469      1
Flypaper             2935   2011  3       1541160    1
Focus                6254   2015  1       2381941    1
Fog, The             2484   1980  3       80749      1
xxxHolic Ro Adayume  6235   2011  1       4627404    1
Length: 9903, dtype: int64

In [66]:
bechdel1.reset_index(drop=True,inplace=True)

In [67]:
bechdel1

                           title     id  year  rating    imdbid
0               Passage de Venus   9602  1874       0   3155794
1              La Rosace Magique   9804  1877       0  14495706
2     Sallie Gardner at a Gallop   9603  1878       0   2221420
3              Le singe musicien   9806  1878       0  12592084
4        Athlete Swinging a Pick   9816  1881       0   7816420
...                          ...    ...   ...     ...       ...
9898                     Pathaan  10728  2023       3  12844910
9899                     Missing  10754  2023       3  10855768
9900               Infinity Pool  10737  2023       2  10365998
9901                Cocaine Bear  10779  2023       3  14209916
9902          Les choses simples  10785  2023       1  25971180

[9903 rows x 5 columns]

In [64]:
bechdel1.to_csv('bechdel1.csv')